{extend name='common/_container'}
{block name="content"}
<div class="ibox float-e-margins">
<input type="hidden" name='member_id' id='member_id' value="{$info.member_id}" />
	<div class="ibox-content">
		<div class="form-horizontal" id="CodeInfoForm">
			<div class="row">
				<div class="col-sm-12">
				<!-- form start -->
					<div class="form-group">
						<label class="col-sm-2 control-label">姓名：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="name" value="{$info.name}" name="name" class="form-control" placeholder="请输入姓名">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">账号：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="user_name" value="{$info.user_name}" name="user_name" class="form-control" placeholder="请输入账号">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">密码：</label>
						<div class="col-sm-9">
							<input type="password" id="password" value="{$info.password}" name="password" class="form-control" placeholder="请输入密码">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">手机号：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="mobile" value="{$info.mobile}" name="mobile" class="form-control" placeholder="请输入手机号">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">角色：</label>
						<div class="col-sm-9">
							<select lay-ignore name="role" class="form-control" id="role">
								<option value="">请选择</option>
								{sql connect="mysql" query="SELECT member_role_id,role_name FROM `cd_member_role`"}
									<option value="{$sql.member_role_id}" {if condition="$info.role eq $sql.member_role_id"}selected{/if}>{$sql.role_name}</option>
								{/sql}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">创建时间：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" value="{if condition="$info.create_time neq ''"}{$info.create_time|date='Y-m-d H:i:s'}{/if}" name="create_time"  placeholder="请输入创建时间" class="form-control" id="create_time">
						</div>
					</div>
				<!-- form end -->
				</div>
			</div>
			<div class="hr-line-dashed"></div>
			<div class="row btn-group-m-t">
				<div class="col-sm-9 col-sm-offset-1">
					<button type="button" class="btn btn-primary" onclick="CodeInfoDlg.update()" id="ensure">
						<i class="fa fa-check"></i>&nbsp;确认提交
					</button>
					<button type="button" class="btn btn-danger" onclick="CodeInfoDlg.close()" id="cancel">
						<i class="fa fa-eraser"></i>&nbsp;取消
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="__PUBLIC__/static/js/upload.js" charset="utf-8"></script>
<script src="__PUBLIC__/static/js/plugins/layui/layui.js" charset="utf-8"></script>
<script>
layui.use(['form'],function(){});
laydate.render({elem: '#create_time',type: 'datetime',trigger:'click'});
var CodeInfoDlg = {
	CodeInfoData: {},
	validateFields: {
		name: {
			validators: {
				notEmpty: {
					message: '姓名不能为空'
	 			},
	 		}
	 	},
		user_name: {
			validators: {
				notEmpty: {
					message: '账号不能为空'
	 			},
	 		}
	 	},
		password: {
			validators: {
				notEmpty: {
					message: '密码不能为空'
	 			},
	 		}
	 	},
		mobile: {
			validators: {
				notEmpty: {
					message: '手机号不能为空'
	 			},
				regexp: {
					regexp: /^1[3456789]\d{9}$/,
					message: ''
	 			},
	 		}
	 	},
	 }
}

CodeInfoDlg.collectData = function () {
	this.set('member_id').set('name').set('user_name').set('password').set('mobile').set('role').set('create_time');
};

CodeInfoDlg.update = function () {
	 this.clearData();
	 this.collectData();
	 if (!this.validate()) {
	 	return;
	 }
	 var ajax = new $ax(Feng.ctxPath + "/Member/update", function (data) {
	 	if ('00' === data.status) {
	 		Feng.success(data.msg,1000);
	 		window.parent.CodeGoods.table.refresh();
	 		CodeInfoDlg.close();
	 	} else {
	 		Feng.error(data.msg + "！",1000);
		 }
	 })
	 ajax.set(this.CodeInfoData);
	 ajax.start();
};


</script>
<script src="__PUBLIC__/static/js/base.js" charset="utf-8"></script>
{/block}
